@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    background: hsl(233, 47%, 7%);

    font-size: 15px;
}

h1 {
    font-family: "Inter";
    font-weight: 700;
}