@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --clr-primary-dark-blue: hsl(233, 47%, 7%);
    --clr-primary-blue: hsl(244, 38%, 16%);
    --clr-primary-violet: hsl(277, 64%, 61%);
    --clr-neutral-tittle: hsl(0, 0%, 100%);
    --clr-neutral-main: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-stats: hsla(0, 0%, 100%, 0.6);

}

*,
*::after;
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;

    background: var(--clr-primary-dark-blue);
}

body,
h1,
h2,
p {
    margin: 0;
}

h1,
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.business-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: min(90%, 75rem);
    margin: 
}

@media (min-width: 45em) {
    .business-card {
        flex-direction: row;
    }
}

.info-box {
    background: var(--clr-primary-blue);
    padding: 3em;
}

.text-box--title {
    margin-bottom: .5em;
}

.text-box--title,
.stats-title {
    color: var(--clr-neutral-tittle);
}

.text-box--p {
    color: var(--clr-neutral-main);
}

.stats-p {
    color: var(--clr-neutral-stats);
}